<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>Admin Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

	<br>
	<div class="container">

		<form action="/dashboard" method="post">

			<div class="row">
	    		<div class="col">
	      			<input type="text" name="grupo" class="form-control" placeholder="Nombre Del Grupo">
	    		</div>

	    		<div class="col">
	      			<input type="text" name="pais" class="form-control" placeholder="Pais">
	   			</div>
			</div>

			<br>

			<div class="input-group">
				<div class="custom-file">

					<input type="file" class="custom-file-input" name="upload" id="upload-input">
	    			<label class="custom-file-label" for="inputGroupFile04">Seleccionar Archivo</label>

				</div>

				<div class="input-group-append">
	    			<button class="btn btn-outline-primary" type="button">Subir</button>
	  			</div>
				
			</div>

		</form>

	
	</div>









	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/js/upload.js"></script>

</body>
</html>