<!DOCTYPE html>
<html>
<head>

    <title>Aplicacion De Chat En Tiempo Real</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/login.css">
 -->
</head>

<body>
  
 <%- include partials/navbar.ejs %>

 <div class="container">

	<div>
    	<h1 class="text-center"> Iniciar Sesion </h1>
    </div>

    <br>

	



<div class="row">
  <div class="col-xl-4"></div>
  <div class="col-xl-4">

      <form action="/" method="POST">

    <h3 class="text-center">
      <a href="/auth/google" class="btn-social btn-gplus btn-lg">
        <i class="fa fa-google-plus "></i> Iniciar Sesion Con Google+
      </a>
    </h3>

    <br>
    <br>

    <% if (hasErrors) { %>
      <div class=" alert alert-danger text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <% _.forEach(messages, function(error){  %>
          <%= error  %> <br>
        <%  }) %>
      </div>
    <% } %>


    <div class="md-form">

          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" name="email" id="email" class="form-control validate">
            <label for="email" data-error="wrong" data-success="right">Email:</label>
          </div>

          <div class="md-form">
              <i class="fa fa-lock prefix"></i>
              <input type="password" name="password" id="password" class="form-control validate">
              <label for="password" data-error="wrong" data-success="right">Password:</label>
          </div>

          <button type="submit" class="btn btn-primary" value="login">Enviar</button>

      </div>        

    </form>

    </div>
  
</div>
    	


</div>



<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->

</body>
</html>
